* {font-family: 'Work Sans', sans-serif;font-weight: 400;font-size: 15px;text-size-adjust: none;-webkit-text-size-adjust: none;-ms-text-size-adjust: none;-webkit-appearance: none;appearance: none;-moz-appearance: none;margin: 0;padding: 0;list-style: none;outline: 0;text-decoration: none;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;}
body {color: #545E6C;background: #f1efef;padding: 30px;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
a {border-top: 1px solid transparent;border-bottom: 1px solid transparent;padding: 1px 0;font-family: 'Quicksand', sans-serif;float: left;color: black;transition: .2s;-webkit-transition: .2s;-moz-transition: .2s;-ms-transition: .2s;-o-transition: .2s;}
svg {position: relative;margin-right: 10px;fill: #458cff;float: left;transition: .2s;-webkit-transition: .2s;-moz-transition: .2s;-ms-transition: .2s;-o-transition: .2s;}
img {transition: .2s;-webkit-transition: .2s;-moz-transition: .2s;-ms-transition: .2s;-o-transition: .2s;border: 0;}
ul, li {display: table;}
strong {font-weight: 600;}
@keyframes m1 { 0% {fill: #f5f5f5; } 100% {fill: #458cff; } }
@-webkit-keyframes m1 { 0% {fill: #f5f5f5; } 100% {fill: #458cff; } }
@-moz-keyframes m1 { 0% {fill: #f5f5f5; } 100% {fill: #458cff; } }
@-ms-keyframes m1 { 0% {fill: #f5f5f5; } 100% {fill: #458cff; } }
@-o-keyframes m1 { 0% {fill: #f5f5f5; } 100% {fill: #458cff; } }
@keyframes m2 { 0% {background: #f5f5f5; } 100% {background: #458cff; } }
@-webkit-keyframes m2 { 0% {background: #f5f5f5; } 100% {background: #458cff; } }
@-moz-keyframes m2 { 0% {background: #f5f5f5; } 100% {background: #458cff; } }
@-ms-keyframes m2 { 0% {background: #f5f5f5; } 100% {background: #458cff; } }
@-o-keyframes m2 { 0% {background: #f5f5f5; } 100% {background: #458cff; } }
::selection {background: black;color: white;}
::-moz-selection {background: #fff2a8;color: white;}
::-ms-selection {background: #fff2a8;color: white;}
::-o-selection {background: #fff2a8;color: white;}
::-webkit-selection {background: #fff2a8;color: white;}
/**********************************************************/
.edu-form1 {height: 78px;}
.edu-form2 {height: 100px;}
.edu-form2 {/* height: 78px; */}
.edu-form3 {height: 78px;}
.edu-form4 {height: 68px;}
.edu-form4 {/* height: 46px; */}

.cer-form1 {height: 100px;}
.cer-form2 {height: 56px;}
.cer-form3 {height: 56px;}
.cer-form4 {height: 56px;}
.cer-form5 {height: 56px;}
.cer-form6 {height: 56px;}
.cer-form7 {height: 56px;}
.cer-form8 {height: 762px;}

.exp-form1 {height: 296px;}
.exp-form2 {height: 86px;}

.sta-form1 {height: 116px;}
.sta-form2 {height: 208px;}
.sta-form3 {height: 116px;}
.sta-form4 {height: 132px;}
/**********************************************************/
.edu-svg-form1 {animation: m1 1s ease 1s infinite;-moz-animation: m1 1s ease 1s infinite;-ms-animation: m1 1s ease 1s infinite;-o-animation: m1 1s ease 1s infinite;-webkit-animation: m1 1s ease 1s infinite;}
.edu-form1 {animation: m2 1s ease 875ms infinite;-moz-animation: m2 1s ease 875ms infinite;-ms-animation: m2 1s ease 875ms infinite;-o-animation: m2 1s ease 875ms infinite;-webkit-animation: m2 1s ease 875ms infinite;}
.edu-svg-form2 {animation: m1 1s ease 750ms infinite;-moz-animation: m1 1s ease 750ms infinite;-ms-animation: m1 1s ease 750ms infinite;-o-animation: m1 1s ease 750ms infinite;-webkit-animation: m1 1s ease 750ms infinite;}
.edu-form2 {animation: m2 1s ease 625ms infinite;-moz-animation: m2 1s ease 625ms infinite;-ms-animation: m2 1s ease 625ms infinite;-o-animation: m2 1s ease 625ms infinite;-webkit-animation: m2 1s ease 625ms infinite;}
.edu-svg-form3 {animation: m1 1s ease 500ms infinite;-moz-animation: m1 1s ease 500ms infinite;-ms-animation: m1 1s ease 500ms infinite;-o-animation: m1 1s ease 500ms infinite;-webkit-animation: m1 1s ease 500ms infinite;}
.edu-form3 {animation: m2 1s ease 375ms infinite;-moz-animation: m2 1s ease 375ms infinite;-ms-animation: m2 1s ease 375ms infinite;-o-animation: m2 1s ease 375ms infinite;-webkit-animation: m2 1s ease 375ms infinite;}
.edu-svg-form4 {animation: m1 1s ease 250ms infinite;-moz-animation: m1 1s ease 250ms infinite;-ms-animation: m1 1s ease 250ms infinite;-o-animation: m1 1s ease 250ms infinite;-webkit-animation: m1 1s ease 250ms infinite;}
.edu-form4 {animation: m2 1s ease 125ms infinite;-moz-animation: m2 1s ease 125ms infinite;-ms-animation: m2 1s ease 125ms infinite;-o-animation: m2 1s ease 125ms infinite;-webkit-animation: m2 1s ease 125ms infinite;}

.cer-svg-form1 {animation: m1 2000ms ease 2000ms infinite;-moz-animation: m1 2000ms ease 2000ms infinite;-ms-animation: m1 2000ms ease 2000ms infinite;-o-animation: m1 2000ms ease 2000ms infinite;-webkit-animation: m1 2000ms ease 2000ms infinite;}
.cer-form1 {animation: m2 2000ms ease 1875ms infinite;-moz-animation: m2 2000ms ease 1875ms infinite;-ms-animation: m2 2000ms ease 1875ms infinite;-o-animation: m2 2000ms ease 1875ms infinite;-webkit-animation: m2 2000ms ease 1875ms infinite;}
.cer-svg-form2 {animation: m1 2000ms ease 1750ms infinite;-moz-animation: m1 2000ms ease 1750ms infinite;-ms-animation: m1 2000ms ease 1750ms infinite;-o-animation: m1 2000ms ease 1750ms infinite;-webkit-animation: m1 2000ms ease 1750ms infinite;}
.cer-form2 {animation: m2 2000ms ease 1625ms infinite;-moz-animation: m2 2000ms ease 1625ms infinite;-ms-animation: m2 2000ms ease 1625ms infinite;-o-animation: m2 2000ms ease 1625ms infinite;-webkit-animation: m2 2000ms ease 1625ms infinite;}
.cer-svg-form3 {animation: m1 2000ms ease 1500ms infinite;-moz-animation: m1 2000ms ease 1500ms infinite;-ms-animation: m1 2000ms ease 1500ms infinite;-o-animation: m1 2000ms ease 1500ms infinite;-webkit-animation: m1 2000ms ease 1500ms infinite;}
.cer-form3 {animation: m2 2000ms ease 1375ms infinite;-moz-animation: m2 2000ms ease 1375ms infinite;-ms-animation: m2 2000ms ease 1375ms infinite;-o-animation: m2 2000ms ease 1375ms infinite;-webkit-animation: m2 2000ms ease 1375ms infinite;}
.cer-svg-form4 {animation: m1 2000ms ease 1250ms infinite;-moz-animation: m1 2000ms ease 1250ms infinite;-ms-animation: m1 2000ms ease 1250ms infinite;-o-animation: m1 2000ms ease 1250ms infinite;-webkit-animation: m1 2000ms ease 1250ms infinite;}
.cer-form4 {animation: m2 2000ms ease 1125ms infinite;-moz-animation: m2 2000ms ease 1125ms infinite;-ms-animation: m2 2000ms ease 1125ms infinite;-o-animation: m2 2000ms ease 1125ms infinite;-webkit-animation: m2 2000ms ease 1125ms infinite;}
.cer-svg-form5 {animation: m1 2000ms ease 1000ms infinite;-moz-animation: m1 2000ms ease 1000ms infinite;-ms-animation: m1 2000ms ease 1000ms infinite;-o-animation: m1 2000ms ease 1000ms infinite;-webkit-animation: m1 2000ms ease 1000ms infinite;}
.cer-form5 {animation: m2 2000ms ease 875ms infinite;-moz-animation: m2 2000ms ease 875ms infinite;-ms-animation: m2 2000ms ease 875ms infinite;-o-animation: m2 2000ms ease 875ms infinite;-webkit-animation: m2 2000ms ease 875ms infinite;}
.cer-svg-form6 {animation: m1 2000ms ease 750ms infinite;-moz-animation: m1 2000ms ease 750ms infinite;-ms-animation: m1 2000ms ease 750ms infinite;-o-animation: m1 2000ms ease 750ms infinite;-webkit-animation: m1 2000ms ease 750ms infinite;}
.cer-form6 {animation: m2 2000ms ease 625ms infinite;-moz-animation: m2 2000ms ease 625ms infinite;-ms-animation: m2 2000ms ease 625ms infinite;-o-animation: m2 2000ms ease 625ms infinite;-webkit-animation: m2 2000ms ease 625ms infinite;}
.cer-svg-form7 {animation: m1 2000ms ease 500ms infinite;-moz-animation: m1 2000ms ease 500ms infinite;-ms-animation: m1 2000ms ease 500ms infinite;-o-animation: m1 2000ms ease 500ms infinite;-webkit-animation: m1 2000ms ease 500ms infinite;}
.cer-form7 {animation: m2 2000ms ease 375ms infinite;-moz-animation: m2 2000ms ease 375ms infinite;-ms-animation: m2 2000ms ease 375ms infinite;-o-animation: m2 2000ms ease 375ms infinite;-webkit-animation: m2 2000ms ease 375ms infinite;}
.cer-svg-form8 {animation: m1 2000ms ease 250ms infinite;-moz-animation: m1 2000ms ease 250ms infinite;-ms-animation: m1 2000ms ease 250ms infinite;-o-animation: m1 2000ms ease 250ms infinite;-webkit-animation: m1 2000ms ease 250ms infinite;}
.cer-form8 {animation: m2 2000ms ease 125ms infinite;-moz-animation: m2 2000ms ease 125ms infinite;-ms-animation: m2 2000ms ease 125ms infinite;-o-animation: m2 2000ms ease 125ms infinite;-webkit-animation: m2 2000ms ease 125ms infinite;}

.exp-svg-form1 {animation: m1 1s ease 1s infinite;-moz-animation: m1 1s ease 1s infinite;-ms-animation: m1 1s ease 1s infinite;-o-animation: m1 1s ease 1s infinite;-webkit-animation: m1 1s ease 1s infinite;}
.exp-form1 {animation: m2 1s ease 750ms infinite;-moz-animation: m2 1s ease 750ms infinite;-ms-animation: m2 1s ease 750ms infinite;-o-animation: m2 1s ease 750ms infinite;-webkit-animation: m2 1s ease 750ms infinite;}
.exp-svg-form2 {animation: m1 1s ease 500ms infinite;-moz-animation: m1 1s ease 500ms infinite;-ms-animation: m1 1s ease 500ms infinite;-o-animation: m1 1s ease 500ms infinite;-webkit-animation: m1 1s ease 500ms infinite;}
.exp-form2 {animation: m2 1s ease 250ms infinite;-moz-animation: m2 1s ease 250ms infinite;-ms-animation: m2 1s ease 250ms infinite;-o-animation: m2 1s ease 250ms infinite;-webkit-animation: m2 1s ease 250ms infinite;}

.sta-svg-form1 {animation: m1 1550ms ease 1550ms infinite;-moz-animation: m1 1550ms ease 1550ms infinite;-ms-animation: m1 1550ms ease 1550ms infinite;-o-animation: m1 1550ms ease 1550ms infinite;-webkit-animation: m1 1550ms ease 1550ms infinite;}
.sta-form1 {animation: m2 1550ms ease 1375ms infinite;-moz-animation: m2 1550ms ease 1375ms infinite;-ms-animation: m2 1550ms ease 1375ms infinite;-o-animation: m2 1550ms ease 1375ms infinite;-webkit-animation: m2 1550ms ease 1375ms infinite;}
.sta-svg-form2 {animation: m1 1550ms ease 1250ms infinite;-moz-animation: m1 1550ms ease 1250ms infinite;-ms-animation: m1 1550ms ease 1250ms infinite;-o-animation: m1 1550ms ease 1250ms infinite;-webkit-animation: m1 1550ms ease 1250ms infinite;}
.sta-form2 {animation: m2 1550ms ease 1125ms infinite;-moz-animation: m2 1550ms ease 1125ms infinite;-ms-animation: m2 1550ms ease 1125ms infinite;-o-animation: m2 1550ms ease 1125ms infinite;-webkit-animation: m2 1550ms ease 1125ms infinite;}
.sta-svg-form3 {animation: m1 1550ms ease 1s infinite;-moz-animation: m1 1550ms ease 1s infinite;-ms-animation: m1 1550ms ease 1s infinite;-o-animation: m1 1550ms ease 1s infinite;-webkit-animation: m1 1550ms ease 1s infinite;}
.sta-form3 {animation: m2 1550ms ease 875ms infinite;-moz-animation: m2 1550ms ease 875ms infinite;-ms-animation: m2 1550ms ease 875ms infinite;-o-animation: m2 1550ms ease 875ms infinite;-webkit-animation: m2 1550ms ease 875ms infinite;}
.sta-svg-form4 {animation: m1 1550ms ease 750ms infinite;-moz-animation: m1 1550ms ease 750ms infinite;-ms-animation: m1 1550ms ease 750ms infinite;-o-animation: m1 1550ms ease 750ms infinite;-webkit-animation: m1 1550ms ease 750ms infinite;}
.sta-form4 {animation: m2 1550ms ease 625ms infinite;-moz-animation: m2 1550ms ease 625ms infinite;-ms-animation: m2 1550ms ease 625ms infinite;-o-animation: m2 1550ms ease 625ms infinite;-webkit-animation: m2 1550ms ease 625ms infinite;}
/**********************************************************/
.contact-list a:hover, .contact-list a:hover svg {color: white;border-color: white;fill: white;}
/**********************************************************/
section .div-a a:hover, section .div-a a:hover svg, .meta a:hover, .meta a:hover svg {border-color: #3f4650;fill: #3f4650;color: #3f4650;}
/**********************************************************/
@media (hover: none) and (pointer: coarse) and (hover: hover) and (pointer: fine) { section .div-a a:hover, section .div-a a:hover svg, .meta a:hover, .meta a:hover svg {border-color: #3f4650;fill: #3f4650;color: #3f4650;} }
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
.wrapper {max-width: 1290px;margin: 0 auto;box-shadow: 0px 2px 4px rgba(0,0,0,0.1);-moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.1);-ms-box-shadow: 0px 2px 4px rgba(0,0,0,0.1);-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.1);-o-box-shadow: 0px 2px 4px rgba(0,0,0,0.1);}
.sidebar-wrapper {width: 300px;float: right;background: #42A8C0;color: aliceblue;text-align: center;}
header {padding: 30px;background: rgba(0,0,0,0.2);height: 512px;}
.avatar {max-width: 120px;max-height: 120px;border-radius: 100%;-ms-border-radius: 100%;-moz-border-radius: 100%;-o-border-radius: 100%;-webkit-border-radius: 100%;display: block;margin: auto;margin-top: 8px;}
.name {line-height: 41px;font-size: 32px;font-family: 'Montserrat', sans-serif;font-weight: 500;}
.tagline0, .tagline1 {font-size: 16px;line-height: 22px;font-family: 'Montserrat', sans-serif;margin-top: 10px;font-weight: 500;}
/**********************************************************/
aside {padding: 30px;height: 208px;}
.contact-list {margin: auto;width: 100%;}
.contact-list li {margin: auto;margin-bottom: 20px;}
.contact-list li:last-child {margin-bottom: 0;}
.contact-list li.phone {letter-spacing: -1px;word-spacing: 1px;}
.div-a {display: table;margin: auto;}
.contact-list a {padding: 1px 10px;}
.contact-list a svg {fill: black;}
.div-a p {display: table;font-weight: 700;font-family: 'Quicksand', sans-serif;font-size: 14px;}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
.glob {padding-right: 300px;background: mediumturquoise;text-align: center;}
nav {padding: 30px;background: #34b9b4;display: table;width: 100%;}
.t11, .t12 {float: left;width: 50%;height: 40px;}
.t11 a img, .t12 a img {width: 30px;height: 30px;margin-right: 10px;float: left;position: relative;top: 4px;border-radius: 100%;-ms-border-radius: 100%;-moz-border-radius: 100%;-o-border-radius: 100%;-webkit-border-radius: 100%;border: 1px solid #34b9b4;}
/**********************************************************/
.summary-section1 {padding: 40px;height: 350px;padding-top: 50px;}
.t3 {display: table;margin: auto;margin-bottom: 40px;}
.t1 {line-height: 28px;padding-top: 2px;font-size: 22px;margin-left: 40px;font-family: 'Montserrat', sans-serif;color: #2f3132;}
.summary p {font-size: 14px;font-family: 'Montserrat', sans-serif;}
.summary-section2 {padding: 40px;height: 270px;padding-top: 0;}
/**********************************************************/
nav .div-a {transition: .2s;-webkit-transition: .2s;-moz-transition: .2s;-ms-transition: .2s;-o-transition: .2s;background: rgb(0 0 0 / 20%);border: 1px solid transparent;border-radius: 20px;-ms-border-radius: 20px;-moz-border-radius: 20px;-o-border-radius: 20px;-webkit-border-radius: 20px;display: inline-block;}
nav .div-a a {padding: 0;padding-left: 5px;color: black;line-height: 38px;padding-right: 12px;border: 0;}
/**********************************************************/
nav .div-a:hover {border-color: white;background: lightslategray;}
nav .div-a:hover a {color: white;}
nav .div-a:hover img {border-color: white;}
/**********************************************************/
nav .important {background: rgb(0 0 0 / 30%);}
nav .important a {color: white;}
nav .important:hover {background: rgb(0 0 0 / 20%);}
nav .important:hover a {color: black;}
/**********************************************************/
.img-proj:hover, .img-1:hover, .img-2:hover, footer a img:hover {filter: grayscale(100%) invert(100%);-webkit-filter: grayscale(100%) invert(100%);-ms-filter: grayscale(100%) invert(100%);-moz-filter: grayscale(100%) invert(100%);-o-filter: grayscale(100%) invert(100%);}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
@media (max-width: 1209px) {
        .summary-section1 {padding: 40px 30px;height: 340px;}
        .summary-section2 {height: 280px;padding: 40px 30px;padding-top: 0;}
        .t3 {margin-bottom: 20px;}
        /**********************************************************/
}
@media (max-width: 1049px) {
        .summary-section1 {padding: 30px 40px;}
        .summary-section2 {padding: 30px 40px;padding-top: 0;}
        /**********************************************************/
}
@media (max-width: 991px) {
        body, .glob {padding: 0;}
        .sidebar-wrapper {width: 100%;}
        header, aside, .summary-section2, .summary-section1 {padding: 30px;height: auto;}
        .t2 {display: none;}
        /**********************************************************/
        .contact-list li {width: 50%;float: left;}
        .contact-list li.linkedin {margin-bottom: 0;}
        .t3 {margin-bottom: 20px;}
        .summary-section2 {padding-top: 0;}
        /**********************************************************/
}
@media (max-width: 767px) {
        .contact-list li {width: auto;float: none;}
        .contact-list li.linkedin {margin-bottom: 20px;}
        /**********************************************************/
}
@media (max-width: 479px) {
        .t11, .t12 {width: 100%;}
        .t11 {margin-bottom: 20px;}
        /**********************************************************/
        .t1 {font-size: 20px;font-weight: 500;line-height: 22px;}
        .summary-section2 svg, .summary-section1 svg {width: 26px;height: 26px;}
        /**********************************************************/
}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
main {background: #fff;}
.section {padding: 30px;padding-bottom: 0;}
.section:last-child {padding: 30px;}
.main-title {margin-right: 5px;margin-bottom: 30px;}
.section-title {border-top: 1px dotted #337ab7;border-bottom: 1px dotted #337ab7;margin-left: 40px;line-height: 28px;text-transform: uppercase;font-size: 18px;font-weight: 500;}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
@media (max-width: 991px) {
        .section {padding: 10px;padding-top: 30px;padding-bottom: 0;}
        .section:last-child {padding: 30px 10px;}
        /**********************************************************/
}
@media (max-width: 479px) {
        .main-title {margin-right: 0;text-align: center;border-top: 1px dotted #337ab7;border-bottom: 1px dotted #337ab7;}
        .main-title svg {width: 26px;height: 26px;float: none;margin: 6px auto;margin-top: 10px;display: block;}
        .section-title {margin: 0;line-height: unset;height: auto;border: 0;margin-bottom: 6px;font-size: 17px;font-weight: 600;}
        /**********************************************************/
}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
@media print { @page {size: A3 portrait;} }
@media (min-width: 320px) and (max-width: 375px) {}
@media (min-width: 376px) and (max-width: 479px) {}
@media (min-width: 480px) and (max-width: 679px) {}
@media (min-width: 680px) and (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1049px) {}
@media (min-width: 1050px) and (max-width: 1209px) {}
@media (min-width: 1210px) and (max-width: 1299px) {}
@media (min-width: 1300px) {}
