.puce {float: left;width: 30px;}
.puce svg {width: 10px;height: 10px;left: 10px;top: 4px;}
.stages-section .puce svg {top:2px;}
.b200 {width: 2px;float: left;margin: 8px 14px;margin-bottom: 0;background: #458cff;}
/**********************************************************/
.m2 {padding-left: 40px;padding-right: 5px;}
.item {margin-top: 30px;display: table;width: 100%;}
.meta, .meta div, .upper-row {float: left;}
/**********************************************************/
.div-time {float: left;margin-right: 5px;border-top: 1px solid transparent;border-bottom: 1px solid transparent;padding: 1px 0;}
.time {font-size: 14px;font-weight: 500;font-family: 'Quicksand', sans-serif;text-transform: uppercase;}
.dipjob, .local {font-weight: 500;}
/**********************************************************/
.time, .dipjob, .local, .prix, .equiv, .mention, .title, .work, .objet, .projet {display: table;}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
.dip {width: 100%;float: left;}
.item li {float: left;margin-right: 10px;}
.dip .div-a {margin: 0;}
/**********************************************************/
.dip1, .dip4 {width: 230px;}
.dip2, .dip5 {width: 196px;}
.dip3, .dip6 {width: 500px;}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
.div-local {width: 100%;}
.div-equiv {width: 100%;padding: 2px 0;}
.div-mention {margin-right: 4px;padding: 2px 0;}
.div-prix {padding: 2px 0;}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
.div-edu3 .div-dipjob, .div-exp1 .div-title, .div-exp2 .div-dipjob, .div-exp2 .div-local, .stages-section .div-dipjob, .stages-section .div-local {margin-top: 2px;}
.meta .objet, .meta .projet, .meta .prix, .meta .title {float: none;}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
.ul-cert {display: table;width: 100%;float: left;}
.ul-cert1 li {float: none;}
.ul-cert h3 {margin: 2px 0;}
.ul-cert p {display: table;}
.ul-cert h3 p {font-weight: 500;}
.ul-cert ul {margin: 4px 0;margin-left: 30px;}
.ul-cert ul:last-child {margin-bottom: 0;}
.ul-cert.ul-cert8 li {margin: 0;float: none;}
.ul-cert.ul-cert8 li svg {margin-right: 0;}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
.ul-exp, .ul-sta {margin-left: 30px;display: table;float: left;}
.ul-exp div, .ul-sta div {width: 100%;float: left;margin-top: 4px;}
.ul-exp svg, .ul-sta svg {fill: #545e6c;margin-right: 0;}
.ul-exp p, .ul-sta p {display: table;}
.ul-exp div:last-child, .ul-sta div:last-child {margin-bottom: 0;}
/**********************************************************/
.div-title, .div-work, .div-objet, .div-projet {margin-top: 4px;}
.title, .work, .projet {color: #458cff;font-weight: 500;}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
.ul-exp .expN2L1, .ul-exp .expN2L3 {width: 370px;}
.ul-exp .expN2L2, .ul-exp .expN2L4 {width: 570px;}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
@media (max-width: 1209px) {
        .dip3, .dip6 {width: 400px;}
        .ul-exp .expN2L2, .ul-exp .expN2L4 {width: 470px;}
        /**********************************************************/
}
@media (max-width: 1049px) {
        .dip3, .dip6 {width: 300px;}
        .ul-exp .expN2L2, .ul-exp .expN2L4 {width: 370px;}
        /**********************************************************/
}
@media (max-width: 991px) {
        .projet br {display: none;}
        .section {padding: 10px;padding-top: 30px;padding-bottom: 0;}
        .section:last-child {padding: 30px 10px;}
        /**********************************************************/
        .puce {display: none;}
        .m2 {padding-left: 5px;}
        /**********************************************************/
        .div-dipjob {width: 100%;}
        .div-edu3 .div-local {margin-top: 2px;}
        .div-exp2 .div-local, .stages-section .div-local {margin-top: 4px;}
        /**********************************************************/
        .circuit {display: block;margin: 15px 30px;margin-right: 0;}
        .circuit:last-child {display: none;}
        .s33 {border-top: 1px solid #458cff;}
        /**********************************************************/
        .dip3, .dip6 {width: 270px;}
        .ul-exp .expN2L2, .ul-exp .expN2L4 {width: 320px;}
        /**********************************************************/
}
@media (max-width: 767px) {
        .dip3, .dip6 {width: 180px;}
        .ul-exp .expN2L2, .ul-exp .expN2L4 {width: 100%;}
        /**********************************************************/
}
@media (max-width: 679px) {
        .dip3, .dip5 {width: 230px;}
        .dip4, .dip6 {width: 196px;}
        /**********************************************************/
}
@media (max-width: 479px) {
        .main-title {margin-right: 0;text-align: center;border-top: 1px dotted #337ab7;border-bottom: 1px dotted #337ab7;}
        .main-title svg {width: 26px;height: 26px;float: none;margin: 6px auto;margin-top: 10px;display: block;}
        .section-title {margin: 0;line-height: unset;height: auto;border: 0;margin-bottom: 6px;font-size: 17px;font-weight: 600;}
        /**********************************************************/
        .ul-exp [class^=expN2L] {width: 100%;}
        /**********************************************************/
}
@media (max-width: 375px) {
        .ul-cert ul, .ul-exp, .ul-sta {margin-left: 6px;}
        /**********************************************************/
}
