.skills-list {display: table;padding: 0 6px;margin-top: 30px;width: 100%;}
.l1 {float: left;}
.names {display: table;font-weight: 600;color: black;}
.complemes-section .x0 {display: inline;font-weight: 600;margin-bottom: 0;/* display :table; */  /* float: left; */}
.mcorp {display: table;}
.corp {display: inline;}
.text {font-weight: 600;color: seagreen;display: inline;}
.level {color: #545E6C;display: inline;}
/**********************************************************/
.li1-1, .li2-1 {width: 265px;}
.li1-2, .li2-2 {width: 449px;}
/**********************************************************/
.x0 {margin-bottom: 4px;}
.x0 h3 {font-weight: 600;display: table;}
/**********************************************************/
.l2 {margin-top: 4px;}
.x1 p {display: table;}
.x2, .x3 {padding-left: 34px;margin-top: 2px;}
.x2 svg, .x3 svg, .ul-complemes svg {fill: #545e6c;margin-right: 0;}
.x2 p, .x3 p, .x2 div, .x3 div {display: table;}
/**********************************************************/
.li3-1 {width: 130px;}
.li3-2 {width: 140px;}
.li3-3 {width: 208px;}
.li3-4 {width: 356px;}
/**********************************************************/
.toolset5 .x0, .toolset6 .x0, .toolset7 .x0, .toolset8 .x0, .toolset9 .x0, .toolset10 .x0, .toolset11 .x0, .toolset12 .x0 {margin-bottom: 0;display: table;}
.toolset5 .l1, .toolset6 .l1, .toolset7 .l1, .toolset8 .l1, .toolset9 .l1, .toolset10 .l1, .toolset11 .l1, .toolset12 .l1 {width: 100%;margin-top: 4px;}
.toolset9 .names, .toolset10 .names, .aptset .names, .interset .names, .benevoles-section .dipjob, .ul-benev *, .ul-complemes .names {font-weight: 400;color: #545E6C;}
/**********************************************************/
.l1.li9-3, .l1.li9-5, .l1.li9-7, .l1.li9-9, .l1.li9-11, .l1.li9-13, .l1.li9-15 {width: 294px;}
.l1.li9-4, .l1.li9-6, .l1.li9-8, .l1.li9-10, .l1.li9-12, .l1.li9-14, .l1.li9-16 {width: 680px;}
/**********************************************************/
.l1.li10-1, .l1.li10-3, .l1.li10-5, .l1.li10-7 {width: 372px;}
.l1.li10-2, .l1.li10-4, .l1.li10-6, .l1.li10-8 {width: 482px;}
/**********************************************************/
.l1.li11-1, .l1.li11-3, .l1.li11-5, .l1.li11-7, .l1.li11-9, .l1.li11-11, .l1.li11-13, .l1.li11-15, .l1.li11-17, .l1.li11-19, .l1.li11-21, .l1.li11-23, .l1.li11-25, .l1.li11-27, .l1.li11-29, .l1.li11-31, .l1.li11-33 {width: 454px;margin-right: 10px;}
.l1.li11-2, .l1.li11-4, .l1.li11-6, .l1.li11-8, .l1.li11-10, .l1.li11-12, .l1.li11-14, .l1.li11-16, .l1.li11-18, .l1.li11-20, .l1.li11-22, .l1.li11-24, .l1.li11-26, .l1.li11-28, .l1.li11-30, .l1.li11-32, .l1.li11-34 {width: 454px;}
/**********************************************************/
.l1.li12-3, .l1.li12-5, .l1.li12-7 {width: 346px;}
.l1.li12-4, .l1.li12-6, .l1.li12-8 {width: 546px;}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
.langues-section .m2, .aptes-section .m2, .interests-section .m2 {padding: 0;}
.langset .l4, .aptset .l4, .interset .l4 {float: left;}
.l4.lang-1 {width: 176px;}
.l4.lang-2 {width: 206px;}
.l4.lang-3 {width: 386px;}
/**********************************************************/
.aptes-section .skills-list {width: 720px;}
.aptset .l4 {margin-top: 4px;}
.aptset .l4:first-child, .l4.apt-2 {margin-top: 0;}
.l4.apt-1, .l4.apt-2, .l4.apt-3, .l4.apt-4, .l4.apt-5, .l4.apt-6 {width: 338px;}
.l4.apt-7, .l4.apt-11 {width: 134px;}
.l4.apt-8, .l4.apt-12 {width: 204px;}
.l4.apt-9, .l4.apt-13 {width: 124px;}
.l4.apt-10, .l4.apt-14 {width: 144px;}
/**********************************************************/
.l4.int-1 {width: 234px;}
.l4.int-2 {width: 190px;}
.l4.int-3 {width: 154px;}
.l4.int-4 {width: 120px;}
.l4.int-5 {width: 108px;}
/**********************************************************/
.benevoles-section .m2, .complemes-section .m2 {padding: 0;padding-left: 6px;}
.benevoles-section .div-dipjob {float: left;margin-top: 2px;}
.benevoles-section .dipjob {font-weight: 500;}
.ul-benev, .ul-complemes {display: table;width: 100%;}
.ul-benev div {margin-top: 4px;}
/**********************************************************/
.complemes-section .item {margin-top: 4px;}
.complemes-section .item:first-child {margin-top: 0;}
.ul-complemes {float: left;padding-left: 28px;margin-top: 2px;}
.ul-complemes div {float: left;margin-top: 2px;}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
@media (max-width: 1209px) {
        .l1.li9-4, .l1.li9-6, .l1.li9-8, .l1.li9-10, .l1.li9-12, .l1.li9-14, .l1.li9-16 {width: 600px;}
        /**********************************************************/
}
@media (max-width: 1049px) {
        .level br {display: none;}
        /**********************************************************/
        .l1.li9-4, .l1.li9-6, .l1.li9-8, .l1.li9-10, .l1.li9-12, .l1.li9-14, .l1.li9-16 {width: 400px;}
        /**********************************************************/
        .l1.li11-1, .l1.li11-3, .l1.li11-5, .l1.li11-7, .l1.li11-9, .l1.li11-11, .l1.li11-13, .l1.li11-15, .l1.li11-17, .l1.li11-19, .l1.li11-21, .l1.li11-23, .l1.li11-25, .l1.li11-27, .l1.li11-29, .l1.li11-31, .l1.li11-33 {width: 425px;}
        .l1.li11-2, .l1.li11-4, .l1.li11-6, .l1.li11-8, .l1.li11-10, .l1.li11-12, .l1.li11-14, .l1.li11-16, .l1.li11-18, .l1.li11-20, .l1.li11-22, .l1.li11-24, .l1.li11-26, .l1.li11-28, .l1.li11-30, .l1.li11-32, .l1.li11-34 {width: 425px;}
        /**********************************************************/
        .l1.li12-4, .l1.li12-6, .l1.li12-8 {width: 420px;}
        /**********************************************************/
        .interests-section .skills-list {width: 700px;}
        .l4.int-4, .l4.int-5, .l4.int-6 {margin-top: 4px;}
        .l4.int-4 {width: 234px;}
        .l4.int-5 {width: 190px;}
        /**********************************************************/
}
@media (max-width: 991px) {
        .li3-4 {margin-top: 4px;width: 100%;}
        /**********************************************************/
        .l1.li10-2, .l1.li10-4, .l1.li10-6, .l1.li10-8 {width: 362px;}
        /**********************************************************/
        .l1.li11-1, .l1.li11-3, .l1.li11-5, .l1.li11-7, .l1.li11-9, .l1.li11-11, .l1.li11-13, .l1.li11-15, .l1.li11-17, .l1.li11-19, .l1.li11-21, .l1.li11-23, .l1.li11-25, .l1.li11-27, .l1.li11-29, .l1.li11-31, .l1.li11-33 {width: 360px;}
        .l1.li11-2, .l1.li11-4, .l1.li11-6, .l1.li11-8, .l1.li11-10, .l1.li11-12, .l1.li11-14, .l1.li11-16, .l1.li11-18, .l1.li11-20, .l1.li11-22, .l1.li11-24, .l1.li11-26, .l1.li11-28, .l1.li11-30, .l1.li11-32, .l1.li11-34 {width: 350px;}
        /**********************************************************/
        .l1.li12-3, .l1.li12-5, .l1.li12-7, .l1.li12-4, .l1.li12-6, .l1.li12-8 {width: 350px;}
        /**********************************************************/
        /**********************************************************/
        /**********************************************************/
        /**********************************************************/
        .l4.lang-2 {width: 408px;}
        .l4.lang-3 {margin-top: 4px;}
        /**********************************************************/
}
@media (max-width: 767px) {
        .li1-2, .li2-2 {margin-top: 4px;width: 100%;}
        /**********************************************************/
        .l1.li9-4, .l1.li9-6, .l1.li9-8, .l1.li9-10, .l1.li9-12, .l1.li9-14, .l1.li9-16 {width: 280px;}
        /**********************************************************/
        .toolset10 .l1, .toolset11 .l1 {width: 100%;}
        /**********************************************************/
        .toolset12.li12-1, .toolset12.li12-2 {width: 448px;}
        .l1.li12-3, .l1.li12-5, .l1.li12-7, .l1.li12-4, .l1.li12-6, .l1.li12-8 {width: 100%;}
        /**********************************************************/
        /**********************************************************/
        /**********************************************************/
        /**********************************************************/
        .aptes-section .skills-list {width: 400px;}
        .l4.apt-2 {margin-top: 4px;}
        .l4.apt-1, .l4.apt-2 {width: 100%;}
        .l4.apt-3, .l4.apt-5 {width: 270px;}
        .l4.apt-4, .l4.apt-6 {width: 370px;}
        .l4.apt-7, .l4.apt-11, .l4.apt-9, .l4.apt-13 {width: 128px;}
        .l4.apt-8, .l4.apt-12 {width: 134px;}
        .l4.apt-10, .l4.apt-14 {width: 244px;}
        /**********************************************************/
        .interests-section .skills-list {width: 600px;}
        /**********************************************************/
}
@media (max-width: 679px) {
        .li3-2, .li3-3 {margin-top: 4px; width: 100%;}
        /**********************************************************/
        /**********************************************************/
        /**********************************************************/
        /**********************************************************/
        .langset .l4:first-child {margin-top: 0;}
        .langset .l4 {width: 100%;margin-top: 4px;}
        /**********************************************************/
        .l4.apt-3, .l4.apt-4, .l4.apt-5, .l4.apt-6 {width: 100%;}
        .l4.apt-7, .l4.apt-9, .l4.apt-11, .l4.apt-13 {width: 128px;}
        .l4.apt-8, .l4.apt-10, .l4.apt-12, .l4.apt-14 {width: 194px;}
        /**********************************************************/
        .interests-section .skills-list {width: 440px;}
        .l4.int-3 {margin-top: 4px;}
        .l4.int-3, .l4.int-5 {width: 234px;}
        .l4.int-4 {width: 190px;}
        /**********************************************************/
}
@media (max-width: 479px) {
        .aptes-section .skills-list, .interests-section .skills-list {width: 100%;}
        /**********************************************************/
        .interests-section .l4 {width: 100%;}
        .l4.int-2 {margin-top: 4px;}
        /**********************************************************/
}
@media (max-width: 375px) {
        .aptes-section .skills-list {width: 100%;}
        .l4.apt-8, .l4.apt-10, .l4.apt-12, .l4.apt-14 {width: 138px;}
        /**********************************************************/
}
