article {padding: 0 8px;background: mediumturquoise;}
.project-title {margin: auto;padding: 20px 0;display: table;padding-bottom: 12px;}
.p-title {margin-left: 40px;line-height: 30px;text-transform: uppercase;font-size: 18px;font-weight: 500;}
/**********************************************************/
.column {padding: 8px;}
.column:last-child {padding-bottom: 16px;}
.content {background-color: white;display: table;width: 100%;box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);-moz-box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);-ms-box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);-webkit-box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);-o-box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);}
/**********************************************************/
.img-proj {margin-right: 10px;float: left;background: #f1efef;transition: .2s;-webkit-transition: .2s;-moz-transition: .2s;-ms-transition: .2s;-o-transition: .2s;}
.img-proj a {display: table;padding: 10px;border: 0;width: 100%;}
.content img {display: table;max-width: 500px;margin: auto;}
/**********************************************************/
.n3 {float: left;}
.desc h3 {margin: 10px 0;font-weight: 600;font-family: 'Montserrat', sans-serif;font-size: 14px;display: table;padding-right: 10px;}
.n2 svg {margin-right: 0;margin-left: 6px;}
.n2 p {font-family: 'Source Code Pro', sans-serif;word-spacing: -3px;letter-spacing: -1px;font-size: 14px;display: table;}
/**********************************************************/
.img-glob {float: left;width: 100%;margin-top: 10px;}
.img-cont {display: table;margin: auto;width: 100%;transition: .2s;-webkit-transition: .2s;-moz-transition: .2s;-ms-transition: .2s;-o-transition: .2s;}
.col-6 .img-1 {float: left;margin-right: 10px;background: #f1efef;display: table;}
.col-6 .img-2 {display: table;width: calc(100% - 530px);width: -moz-calc(100% - 530px);width: -ms-calc(100% - 530px);width: -o-calc(100% - 530px);width: -webkit-calc(100% - 530px);background: #f1efef;float: right;}
.img-cont a {padding: 10px;width: 100%;border: 0;}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
@media (max-width: 1209px) {
        article {padding: 0;}
        .column {padding: 4px 8px;}
        .column:last-child {padding-bottom: 8px;}
        .img-proj {margin: 0;width: 100%;}
        .content img, .img-cont img {max-width: 70%;}
        /**********************************************************/
        .n3 {width: 100%;}
        .desc {padding: 10px;}
        .desc h3 {margin: 0;padding: 0;}
        .n1 {padding: 0 10px;padding-bottom: 10px;}
        /**********************************************************/
        .n2 {margin-bottom: 2px;}
        .n2:last-child {margin-bottom: 0;}
        /**********************************************************/
        .img-glob {background: mediumturquoise;}
        .col-6 .img-1 {margin: 8px 0;}
        .col-6 .img-1, .col-6 .img-2 {width: 100%;}
        /**********************************************************/
}
@media (max-width: 479px) {
        .project-title {padding: 0;}
        .project-title svg {width: 26px;height: 26px;float: none;margin: auto;margin-top: 14px;display: block;}
        .p-title {margin: 6px 0;margin-top: 6px;font-size: 17px;font-weight: 600;line-height: unset;}
        /**********************************************************/
}
@media (max-width: 991px) { .content img, .img-cont img {max-width: 80%;} }
@media (max-width: 767px) { .content img, .img-cont img {max-width: 90%;} }
@media (max-width: 479px) { .content img, .img-cont img {max-width: 100%;} }
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
footer {background: #35869a;}
footer p:first-child {padding: 12px 0;padding-top: 16px;}
footer p {color: white;text-align: center;}
hr {margin: 10px 16px;border-color: white;background: white;outline: none;}
footer br {display: none;}
footer a {float: none;border: 0;display: inline-block;padding: 0;height: 16px;position: relative;top: 4px;}
/**********************************************************/
footer > div {display: table;margin: auto;padding: 12px 10px;padding-bottom: 16px;}
footer div div {float: left;margin-right: 10px;}
footer svg {fill: white;margin-right: 6px;}
footer h6 {display: table;color: white;}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
@media (max-width: 1209px) {
        footer p:first-child {padding-bottom: 0;}
        .pbr {line-height: 14px;}
        footer br {display: block;}
        footer div div {clear: both;}
}
@media (max-width: 479px) {
        footer {padding: 8px;}
        .pbr {line-height: unset;}
        footer br {display: none;}
}
